body {
    background-color: #F5F5F5;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
}

.hide-status {
    display: none;
}

.hide {
    display: none;
}

.overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(12, 12, 12, 0.5);
    z-index: 1;
}

.main-container {
    margin-left: 355px;
    margin-top: 81px;
    margin-right: 65px;
}

/*
* CSS for first container
*/
.first-container {
    display: flex;
    justify-content: space-between;
}

.text-board {
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
}

.inputfield {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    width: 251px;
    height: 35px;
    background-color: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
}

.inputfield::placeholder {
    color: #D1D1D1;
}

.btn {
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    color: white;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    font-size: 21px;
    cursor: pointer;
    margin-left: 35px;
    height: 43px;
}

.btn:hover {
    background-color: #0D99FF;
}

.icon-plus {
    height: 15px;
    width: 15px;
}

.line {
    width: 0px;
    height: 40px;
    border: 1px solid #D1D1D1;
}

.inputfield-and-button {
    display: flex;
}

.inputfield-container {
    position: relative;
}

.line-container {
    position: absolute;
    top: 12px;
    right: 40px;
}

.search-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.icon-search {
    height: 18px;
    width: 18px;
}

.category-with-trash {
    display: flex;
    justify-content: space-between;
}

.d-none {
    display: none;
}

/*
* CSS for second container
*/
.scrollbar-task {
    overflow-y: scroll;
    height: 54vh;
    scroll-behavior: smooth;
}

.scrollbar-task::-webkit-scrollbar {
    width: 20px;
    display: none;
}

.scrollbar-task::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #F5F5F5;
    border-radius: 10px;
    display: none;
}

.scrollbar-task::-webkit-scrollbar-thumb {
    background: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-task::-webkit-scrollbar-thumb:hover {
    background: #F5F5F5;
}

.second-container {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}

.drag-area-highlight {
    height: 190px;
    border: dashed;
    border-radius: 30px;
    width: 240px;
    cursor: pointer;
    margin-top: 10px;
}

.container-tasks {
    min-height: 500px;
}

.child-container-tasks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37.5px;
    width: 258px;
}

.title-area {
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
}

.plus-button {
    cursor: pointer;
    height: 22px;
    width: 22px;
}

.box {
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    padding: 18px 19px;
    gap: 10px;
    width: 200px;
    cursor: pointer;
    margin-top: 10px;
}

.category {
    text-align: center;
    color: #FFFFFF;
    width: 100px;
    height: 27px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    padding-top: 8px;
    padding-left: 25px;
    padding-right: 25px;
}

.title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    word-break: break-word;
    margin-bottom: 10px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A8A8A8;
    word-break: break-word;
    margin-bottom: 10px;
}

.assigned {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}

.assigned-for-initial-letters-first {
    background-color: #0190E0;
}

.assigned-for-initial-letters-second {
    background-color: #9327FF;
}

.assigned-for-initial-letters-third {
    background-color: #FF5C00;
}

.assigned-and-prio {
    display: flex;
    justify-content: space-between;
}

.prio {
    position: relative;
    margin-right: 35px;
}

.first-arrow {
    position: absolute;
}

.second-arrow {
    position: absolute;
    top: 5px;
}

/*
* CSS for pop-up window
*/
.add-task-pop-up {
    position: absolute;
    top: 80px;
    left: 320px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    cursor: pointer;
    display: none;
    z-index: 2;
}

.add-task-bg-color {
    background-color: rgba(0, 0, 0, 0.5);
}

.cross-popup {
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
    margin-top: 12px;
    cursor: pointer;
}

.container-for-seperate-left-and-right-content {
    display: flex;
    justify-content: space-between;
}

.padding-popup-box {
    padding: 80px;
}

.title-pop-up {
    font-weight: 700;
    font-size: 61px;
    margin-bottom: 35px;
}

.pop-up-child {
    font-weight: 400;
    font-size: 21px;
}

.title-popup {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 21px;
    width: 422px;
    height: 51px;
}

.margin-popup {
    margin-bottom: 4px;
}

.title-popup::placeholder {
    color: #D1D1D1;
}

.description-popup {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    padding: 10px;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 21px;
    border-radius: 10px;
    width: 422px;
    box-sizing: border-box;
}

.description-popup::placeholder {
    color: #D1D1D1;
}

.category-popup {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 21px;
    width: 422px;
    height: 51px;
    box-sizing: border-box;
}

.assignedto-popup {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 21px;
    width: 422px;
    height: 51px;
    box-sizing: border-box;
}

.seperate-line-popup {
    width: 0px;
    height: 551px;
    border: 1px solid #D1D1D1;
    margin-left: 60px;
    margin-right: 60px;
    box-sizing: border-box;
}

.name-assigned-open-task {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.edit-open-task {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    width: 57px;
    height: 57px;
    background-color: #2A3647;
    border-radius: 10px;
    cursor: pointer;
}

.edit-open-task:hover {
    background-color: #0D99FF;
}

.edit-img-pen-open-task {
    position: absolute;
    width: 20px;
    height: 27px;
    left: 21px;
    top: 10px;
}

.edit-img-penpeak-open-task {
    position: absolute;
    width: 13px;
    height: 7px;
    left: 18px;
    top: 33px;
}

.edit-prio-popup {
    margin-bottom: 35px;
}

.edit-open-task-okay-and-hook {
    display: flex;
    color: white;
    display: flex;
    align-items: center;
    gap: 6px;
    width: 57px;
    height: 57px;
    background-color: #2A3647;
    border-radius: 10px;
    cursor: pointer;
}

.edit-open-task-okay-and-hook:hover {
    background-color: #0D99FF;
}

.edit-open-task-okay {
    margin-left: 5px;
}

.edit-open-task-hook-container {
    display: flex;
    align-items: flex-end;
}

.edit-open-task-hook {
    height: 15px;
    width: 15px;
}

.profile-assigned-open-task-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 45px;
    height: 45px;
    border: 2px solid #FFFFFF;
    border-radius: 58px;
    color: white;
}

.duedate-popup {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 35px;
    color: #D1D1D1;
    font-weight: 400;
    font-size: 21px;
    width: 428px;
    height: 51px;
    box-sizing: border-box;
}

.prio-popup {
    display: flex;
}

.urgent-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-weight: 400;
    font-size: 21px;
    margin-right: 10px;
    box-sizing: border-box;
    padding-right: 20px;
    cursor: pointer;
}

.urgent-popup:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.urgent-popup-child {
    position: relative;
}

.urgent-bg-color {
    background-color: #FF3D00;
    color: white;
}

.position-urgent-arrow-popup-first {
    position: absolute;
    left: 9px;
    bottom: -7px;
}

.position-urgent-arrow-popup-second {
    position: absolute;
    left: 9px;
    bottom: -12px;
}

.medium-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-weight: 400;
    font-size: 21px;
    margin-right: 10px;
    padding-right: 21px;
    box-sizing: border-box;
    cursor: pointer;
}

.medium-popup:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.medium-popup-child {
    position: relative;
}

.medium-bg-color {
    background-color: #FFA800;
    color: #ffffff;
}

.position-medium-arrow-popup-first {
    position: absolute;
    left: 9px;
    bottom: -7px;
}

.position-medium-arrow-popup-second {
    position: absolute;
    left: 9px;
    bottom: -12px;
}

.low-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-weight: 400;
    font-size: 21px;
    box-sizing: border-box;
    cursor: pointer;
    padding-right: 20px;
}

.low-popup:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.low-popup-child {
    position: relative;
    background-color: red;
}

.low-bg-color {
    background-color: #7AE229;
    color: white;
}


.position-low-arrow-popup-first {
    position: absolute;
    left: 9px;
    bottom: -9px;
}

.position-low-arrow-popup-second {
    position: absolute;
    left: 9px;
    bottom: -13px;
}

.change-color-img {
    filter: brightness(0) invert(1);
}

.btn-popup {
    display: flex;
    justify-content: flex-end;
    margin-top: 270px;
}

.first-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 177px;
    height: 61px;
    background: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
    margin-right: 20px;
    font-weight: 400;
    font-size: 21px;
    cursor: pointer;
}

.first-btn:hover {
    color: #0D99FF;
    border: 2px solid #0D99FF;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.second-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 177px;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
}

.second-btn:hover {
    background-color: #0D99FF;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

/*
* CSS class for category in popup
*/
.sales {
    background-color: #FC71FF;
}

.design {
    background-color: #FF7A00;
}

.backoffice {
    background-color: #1FD7C1;
}

.marketing {
    background-color: #0038FF;
}

.it {
    background-color: #4E963D;
}

.media {
    background-color: #FFC701;
}

/* CSS open Tast */
.open-position {
    position: absolute;
    top: 100px;
    left: 650px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
    width: 450px;
    padding: 25px;
    gap: 25px;
    z-index: 2;
    min-height: 770px;
}

.open-position-for-edit {
    position: absolute;
    top: 100px;
    left: 650px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
    width: 450px;
    padding: 25px;
    gap: 25px;
    z-index: 2;
    min-height: 770px;
}

.close-open-task {
    display: flex;
    justify-content: flex-end;
}

.open-task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.category-open-task {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 142px;
    height: 40px;
    color: white;
    margin-bottom: 25px;
    font-size: 27px;
    padding: 4px 36.5px;
}

.title-open-task {
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    word-break: break-word;
    margin-bottom: 25px;
}

.description-open-task {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    margin-bottom: 25px;
    word-break: break-word;
}

.duedate-open-task {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    margin-bottom: 29px;
}

.date-open-task {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.container-priority-open-task {
    display: flex;
    margin-bottom: 25px;
}

.priority-open-task {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    margin-right: 25px;
}

.current-prior-open-task {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 15px;
    width: 131px;
    height: 33px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: white;
    gap: 10px;
    font-weight: 400;
    font-size: 21px;
}

.current-prior-img-position-open-task {
    position: relative;
}

.current-prior-img-first-open-task {
    filter: brightness(0) invert(1);
    position: absolute;
    top: -6px;
}

.current-prior-img-second-open-task {
    filter: brightness(0) invert(1);
    position: absolute;
    top: -1px;
}

.container-assigned-open-task {
    display: flex;
    flex-direction: column;
}

.assigned-open-task {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
}

.person-and-profile-assigned-open-task-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.person-and-profile-assigned-open-task-container-hook {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 20px;
}

.person-assigned-open-task-container {
    display: flex;
    margin-top: 25px;
}

.profile-assigned-open-task {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    width: 45px;
    height: 45px;
    border: 2px solid #FFFFFF;
    border-radius: 58px;
    color: white;
}

/* responsive */
@media (max-width: 420px) {
    .hide-mobile {
        display: none;
    }

    .hide {
        display: unset;
    }

    .btn-for-mobile {
        background: #2A3647;
        border-radius: 10px;
        padding: 10px;
        margin-left: 70px;
        margin-bottom: 0px;
        vertical-align: 14px;
        cursor: pointer;
    }

    .btn-for-mobile:hover {
        background-color: #0D99FF;
    }

    .arrow-back-mobile {
        height: 20px;
        width: 20px;
    }

    .main-container {
        margin-left: 30px;
        margin-top: 10px;
        margin-right: unset;
        height: 75vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .first-container {
        display: unset;
        justify-content: unset;
    }

    .text-board {
        margin-bottom: 30px;
    }

    .second-container {
        display: unset;
        justify-content: unset;
        margin-left: 30px;
    }

    .box {
        width: 250px;
    }

    .scrollbar-task {
        height: 29vh;
    }

    .container-tasks {
        height: 30vh;
        min-height: unset;
    }

    .child-container-tasks {
        width: 280px;
        margin-bottom: 15.5px;
        margin-top: 60px;
    }

    .container-for-seperate-left-and-right-content {
        display: unset;
        justify-content: unset;
    }

    .padding-popup-box {
        padding: 20px;
    }

    .btn-popup {
        margin-top: 50px;
    }

    /* add task*/
    .add-task-pop-up {
        left: 0;
        border-radius: 0;
        background-color: #F5F5F5;
        width: 100vw;
    }

    .title-popup {
        width: 290px;
        margin-left: 10px;
    }

    .description-popup {
        width: 290px;
        margin-left: 10px;
    }

    .category-popup {
        width: 290px;
        margin-left: 10px;
    }

    .assignedto-popup {
        width: 290px;
        margin-left: 10px;
    }

    .duedate-popup {
        width: 290px;
        margin-left: 10px;
    }

    .prio-popup {
        width: 290px;
        margin-left: 10px;
    }

    .first-btn {
        font-size: 16px;
    }

    .second-btn {
        font-size: 16px;
    }

    .urgent-popup {
        width: 125px;
        font-size: 15px;
    }

    .medium-popup {
        width: 125px;
        font-size: 15px;
    }

    .low-popup {
        width: 125px;
        font-size: 15px;
    }

    .btn-popup {
        width: 290px;
    }

    .cross-popup {
        margin-right: 20px;
    }

    .title-pop-up {
        font-size: 38px;
        margin-left: 11px;
    }

    /* details task*/
    .open-position {
        top: 80px;
        left: 0;
        background-color: #F5F5F5;
        border-radius: unset;
        width: 100vw;
        padding: 0;
        height: 100vh;
        min-height: unset;
    }

    .open-position-for-edit {
        top: 80px;
        left: 0;
        background-color: #F5F5F5;
        border-radius: unset;
        width: 100vw;
        padding: 0;
        height: 100vh;
        min-height: unset;
    }

    .category-open-task {
        margin-left: 10px;
    }

    .title-open-task {
        margin-left: 10px;
    }

    .description-open-task {
        margin-left: 10px;
    }

    .duedate-open-task {
        margin-left: 10px;
    }

    .priority-open-task {
        margin-left: 10px;
    }

    .assigned-open-task {
        margin-left: 10px;
    }

    .person-assigned-open-task-container {
        margin-left: 10px;
    }

    .close-open-task {
        margin-right: 25px;
        margin-top: 10px;
    }

    /* edit task */
    .person-and-profile-assigned-open-task-container {
        width: 300px;
    }

    .pop-up-child {
        margin-left: 10px;
    }

    .change-status-container {
        display: flex;
    }

    .change-status {
        display: flex;
        background: #FFFFFF;
        border: 1px solid #D1D1D1;
        border-radius: 10px;
        margin-left: 10px;
        padding: 10px;
        margin-bottom: 35px;
        font-weight: 400;
        font-size: 21px;
        width: 290px;
        height: 51px;
        box-sizing: border-box;
    }

    .change-status-text {
        font-weight: 400;
        font-size: 21px;
    }
}

@media (min-width: 421px) and (max-width: 500px) {
    .hide-mobile {
        display: none;
    }

    .hide {
        display: unset;
    }

    .btn-for-mobile {
        background: #2A3647;
        border-radius: 10px;
        padding: 10px;
        margin-left: 118px;
        margin-bottom: 0px;
        vertical-align: 14px;
        cursor: pointer;
    }

    .btn-for-mobile:hover {
        background-color: #0D99FF;
    }

    .arrow-back-mobile {
        height: 20px;
        width: 20px;
    }

    .main-container {
        margin-left: 30px;
        margin-top: 10px;
        margin-right: unset;
        height: 75vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .first-container {
        display: unset;
        justify-content: unset;
    }

    .text-board {
        margin-bottom: 30px;
    }

    .second-container {
        display: unset;
        justify-content: unset;
        margin-left: 30px;
    }

    .box {
        width: 300px;
    }

    .scrollbar-task {
        height: 20vh;
    }

    .container-tasks {
        height: 30vh;
        min-height: unset;
    }

    .child-container-tasks {
        width: 336px;
        margin-bottom: 15.5px;
        margin-top: 60px;
    }

    .container-for-seperate-left-and-right-content {
        display: unset;
        justify-content: unset;
    }

    .padding-popup-box {
        padding: 20px;
    }

    .btn-popup {
        margin-top: 50px;
    }

    /* add task*/
    .add-task-pop-up {
        left: 0;
        border-radius: 0;
        background-color: #F5F5F5;
        width: 100vw;
    }

    .title-popup {
        width: 360px;
        margin-left: 10px;
    }

    .description-popup {
        width: 360px;
        margin-left: 10px;
    }

    .category-popup {
        width: 360px;
        margin-left: 10px;
    }

    .assignedto-popup {
        width: 360px;
        margin-left: 10px;
    }

    .duedate-popup {
        width: 360px;
        margin-left: 10px;
    }

    .prio-popup {
        width: 360px;
        margin-left: 10px;
    }

    .first-btn {
        font-size: 16px;
    }

    .second-btn {
        font-size: 16px;
    }

    .urgent-popup {
        width: 135px;
        font-size: 15px;
    }

    .medium-popup {
        width: 135px;
        font-size: 15px;
    }

    .low-popup {
        width: 135px;
        font-size: 15px;
    }

    .btn-popup {
        width: 360px;
    }

    .cross-popup {
        margin-right: 20px;
    }

    .title-pop-up {
        font-size: 38px;
    }

    /* details task*/
    .open-position {
        top: 80px;
        left: 0;
        background-color: #F5F5F5;
        border-radius: unset;
        width: 100vw;
        padding: 0;
        height: 100vh;
        min-height: unset;
    }

    .open-position-for-edit {
        top: 80px;
        left: 0;
        background-color: #F5F5F5;
        border-radius: unset;
        width: 100vw;
        padding: 0;
        height: 100vh;
        min-height: unset;
    }

    .category-open-task {
        margin-left: 10px;
    }

    .title-open-task {
        margin-left: 10px;
    }

    .description-open-task {
        margin-left: 10px;
    }

    .duedate-open-task {
        margin-left: 10px;
    }

    .priority-open-task {
        margin-left: 10px;
    }

    .assigned-open-task {
        margin-left: 10px;
    }

    .person-assigned-open-task-container {
        margin-left: 10px;
    }

    .close-open-task {
        margin-right: 25px;
        margin-top: 10px;
    }

    /* edit task */
    .person-and-profile-assigned-open-task-container {
        width: 370px;
    }

    .pop-up-child {
        margin-left: 10px;
    }

    .change-status-container {
        display: flex;
    }

    .change-status {
        display: flex;
        background: #FFFFFF;
        border: 1px solid #D1D1D1;
        border-radius: 10px;
        margin-left: 10px;
        padding: 10px;
        margin-bottom: 35px;
        font-weight: 400;
        font-size: 21px;
        width: 360px;
        height: 51px;
        box-sizing: border-box;
    }

    .change-status-text {
        font-weight: 400;
        font-size: 21px;
    }
}



@media (min-width: 501px) and (max-width: 850px) {
    .hide-mobile {
        display: none;
    }

    .hide {
        display: unset;
    }

    .btn-for-mobile {
        cursor: pointer;
        background: #2A3647;
        border-radius: 10px;
        padding: 10px;
        margin-left: 76px;
        margin-bottom: 0px;
        vertical-align: 14px;
    }

    .btn-for-mobile:hover {
        background-color: #0D99FF;
    }

    .arrow-back-mobile {
        height: 20px;
        width: 20px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: unset;
        margin-top: 20px;
        margin-right: unset;
        height: 75vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .first-container {
        display: unset;
        justify-content: unset;
    }

    .text-board {
        margin-bottom: 30px;
    }

    .second-container {
        display: unset;
        justify-content: unset;
        margin-left: 30px;
        margin-top: unset;
    }

    .box {
        width: 300px;
    }

    .scrollbar-task {
        height: 20vh;
    }

    .container-tasks {
        height: 30vh;
        min-height: unset;
    }

    .child-container-tasks {
        width: 336px;
        margin-bottom: 15.5px;
        margin-top: 60px;
    }

    .container-for-seperate-left-and-right-content {
        display: unset;
        justify-content: unset;
    }

    .padding-popup-box {
        padding: 20px;
    }

    .btn-popup {
        margin-top: 50px;
    }

    /* add task*/
    .add-task-pop-up {
        left: 0;
        border-radius: 0;
        background-color: #F5F5F5;
        width: 100vw;
    }

    .margin-popup {
        margin-top: 10px;
    }

    .title-popup {
        width: 430px;
        margin-left: 10px;
        margin-bottom: unset;
    }

    .description-popup {
        width: 430px;
        margin-left: 10px;
        margin-bottom: unset;
    }

    .category-popup {
        width: 430px;
        margin-left: 10px;
        margin-bottom: unset;
    }

    .assignedto-popup {
        width: 430px;
        margin-left: 10px;
        margin-bottom: unset;
    }

    .duedate-popup {
        width: 430px;
        margin-left: 10px;
        margin-bottom: unset;
    }

    .prio-popup {
        width: 430px;
        margin-left: 10px;
        margin-bottom: unset;
    }

    .first-btn {
        font-size: 16px;
    }

    .second-btn {
        font-size: 16px;
    }

    .urgent-popup {
        width: 145px;
        font-size: 18px;
    }

    .medium-popup {
        width: 145px;
        font-size: 18px;
    }

    .low-popup {
        width: 145px;
        font-size: 18px;
    }

    .btn-popup {
        width: 430px;
    }

    .cross-popup {
        margin-right: 20px;
    }

    .title-pop-up {
        font-size: 38px;
        margin-left: 10px;
    }

    /* details task*/
    .open-position {
        top: 80px;
        left: 0;
        background-color: #F5F5F5;
        border-radius: unset;
        width: 100vw;
        padding: 0;
        height: 100vh;
        min-height: unset;
    }

    .open-position-for-edit {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 80px;
        left: 0;
        background-color: #F5F5F5;
        border-radius: unset;
        width: 100vw;
        padding: 0;
        height: 100vh;
        min-height: unset;
    }

    .category-open-task {
        margin-left: 60px;
    }

    .title-open-task {
        margin-left: 60px;
    }

    .description-open-task {
        margin-left: 60px;
    }

    .duedate-open-task {
        margin-left: 60px;
    }

    .priority-open-task {
        margin-left: 60px;
    }

    .assigned-open-task {
        margin-left: 60px;
    }

    .person-assigned-open-task-container {
        margin-left: 60px;
    }

    .close-open-task {
        margin-right: 100px;
        margin-top: 10px;
    }

    /* edit task */
    .person-and-profile-assigned-open-task-container {
        width: 430px;
    }

    .person-and-profile-assigned-open-task-container-hook {
        margin-right: 100px;
    }

    .pop-up-child {
        margin-left: 10px;
    }

    .change-status-container {
        display: flex;
    }

    .change-status {
        display: flex;
        background: #FFFFFF;
        border: 1px solid #D1D1D1;
        border-radius: 10px;
        margin-left: 10px;
        padding: 10px;
        margin-bottom: 35px;
        font-weight: 400;
        font-size: 21px;
        width: 430px;
        height: 51px;
        box-sizing: border-box;
    }

    .change-status-text {
        font-weight: 400;
        font-size: 21px;
    }
}

@media (min-width: 851px) and (max-width: 1200px) {
    .hide-status {
        display: none;
    }

    .add-task-pop-up {
        top: 0;
        left: 0;
        border-radius: 0;
        background-color: #F5F5F5;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
    }

    .btn-for-mobile {
        cursor: pointer;
        background: #2A3647;
        border-radius: 10px;
        padding: 10px;
        margin-left: 76px;
        margin-bottom: 0px;
        vertical-align: 14px;
    }

    .btn-for-mobile:hover {
        background-color: #0D99FF;
    }

    .arrow-back-mobile {
        height: 20px;
        width: 20px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 157px;
        margin-top: 20px;
        margin-right: unset;
        height: 75vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .first-container {
        display: unset;
        justify-content: unset;
    }

    .text-board {
        margin-bottom: 30px;
    }

    .second-container {
        display: unset;
        justify-content: unset;
        margin-left: 30px;
        margin-top: unset;
    }

    .box {
        width: 300px;
    }

    .scrollbar-task {
        height: 20vh;
    }

    .container-tasks {
        height: 30vh;
        min-height: unset;
    }

    .seperate-line-popup {
        display: none;
    }

    .child-container-tasks {
        width: 336px;
        margin-bottom: 15.5px;
        margin-top: 60px;
    }

    .container-for-seperate-left-and-right-content {
        display: unset;
        justify-content: unset;
    }

    .padding-popup-box {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-popup {
        margin-top: 50px;
    }

    /* add task*/
    .add-task-pop-up {
        left: 0;
        border-radius: 0;
        background-color: #F5F5F5;
        width: 100vw;
    }

    .margin-popup {
        margin-top: 10px;
    }

    .title-popup {
        width: 455px;
    }

    .description-popup {
        width: 455px;
    }

    .category-popup {
        width: 455px;
    }

    .assignedto-popup {
        width: 455px;
    }

    .duedate-popup {
        width: 455px;
    }

    .prio-popup {
        width: 455px;
    }

    .first-btn {
        font-size: 16px;
    }

    .second-btn {
        font-size: 16px;
    }

    .urgent-popup {
        width: 145px;
        font-size: 18px;
    }

    .medium-popup {
        width: 145px;
        font-size: 18px;
    }

    .low-popup {
        width: 145px;
        font-size: 18px;
    }

    .btn-popup {
        width: 455px;
    }

    .cross-popup {
        margin-right: 20px;
    }

    .title-pop-up {
        font-size: 38px;
    }

    /* details task*/
    .open-position {
        left: 310px;
        top: 85px;
    }

    .open-position-for-edit {
        left: 310px;
        top: 85px;
        padding-left: 40px;
    }
}

@media (min-width: 1201px) and (max-width: 1550px) {
    .arrow-back-mobile {
        height: 20px;
        width: 20px;
    }

    .padding-popup-box {
        padding: 35px;
    }

    .add-task-pop-up {
        left: 60px;
    }

    .hide-status {
        display: none;
    }

    .btn {
        font-size: 18px;
        margin-left: 25px;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: unset;
        margin-top: 20px;
        margin-right: unset;
        height: 75vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    .first-container {
        justify-content: unset;
        margin-left: 427px;
    }

    .inputfield-and-button {
        margin-top: 17px;
    }

    .inputfield-container {
        margin-left: 157px;
    }

    .text-board {
        margin-bottom: 30px;
    }

    .second-container {
        display: unset;
        justify-content: unset;
        margin-left: 30px;
        margin-top: unset;
    }

    .box {
        width: 300px;
    }

    .scrollbar-task {
        height: 20vh;
    }

    .container-tasks {
        height: 30vh;
        min-height: unset;
    }

    .child-container-tasks {
        width: 336px;
        margin-bottom: 15.5px;
        margin-top: 60px;
    }

    .btn-popup {
        margin-top: 50px;
    }

    /* add task*/
    .margin-popup {
        margin-top: 10px;
    }

    .title-popup {
        width: 455px;
    }

    .description-popup {
        width: 455px;
    }

    .category-popup {
        width: 455px;
    }

    .assignedto-popup {
        width: 455px;
    }

    .duedate-popup {
        width: 455px;
    }

    .prio-popup {
        width: 455px;
    }

    .first-btn {
        font-size: 16px;
    }

    .second-btn {
        font-size: 16px;
    }

    .urgent-popup {
        width: 145px;
        font-size: 18px;
    }

    .medium-popup {
        width: 145px;
        font-size: 18px;
    }

    .low-popup {
        width: 145px;
        font-size: 18px;
    }

    .btn-popup {
        width: 455px;
    }

    .cross-popup {
        margin-right: 20px;
    }

    .title-pop-up {
        font-size: 38px;
    }

    /* details task*/
    .open-position {
        left: 410px;
        top: 85px;
    }

    .open-position-for-edit {
        left: 410px;
        top: 85px;
        padding-left: 40px;
    }
}