body {
    margin: 0;
    background: #F5F5F5;
    font-family: 'Inter';
    overflow-x: hidden;
}

.contacts-headline-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    position: absolute;
    width: 569px;
    height: 73px;
    left: 743px;
    top: 171px;
}

.contacts-headline {
    width: 274px;
    height: 73px;
    font-weight: 700;
    font-size: 61px;
}

.contacts-border {
    width: 0px;
    height: 59px;
    border: 3px solid #29ABE2;
}

.contacts-slogan {
    width: 235px;
    height: 32px;
    font-weight: 400;
    font-size: 25px;
    color: #2A3647;
}

.new-contacts-btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    position: absolute;
    width: 193px;
    height: 53px;
    left: 1195px;
    top: 904px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
}

.new-contacts-btn:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.new-contacts-btn-text {
    width: 130px;
    height: 25px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.new-contacts-icon {
    width: 33px;
    height: 29px;
}