.overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(12, 12, 12, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.overlay-add-contact-container {
    width: 1150px;
    height: 530px;
    background: #2A3647;
    border-radius: 30px;
    display: flex;
}

.overlay-left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 66px 46px;
    gap: 12px;
    isolation: isolate;
    width: 463px;
    height: 530px;
    box-sizing: border-box;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.overlay-join-logo {
    width: 55px;
    height: 66px;
}

.overlay-headline {
    width: 366px;
    height: 73px;
    font-weight: 700;
    font-size: 61px;
    color: #FFFFFF;
}

.overlay-slogan {
    width: 371px;
    height: 32px;
    font-weight: 400;
    font-size: 27px;
    color: #FFFFFF;
}

.overlay-slogan-border {
    width: 90px;
    height: 3px;
    background: #29ABE2;
}

.overlay-right-part {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 50px;
    background: #FFFFFF;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.close-overlay {
    width: 30px;
    height: 30px;
    position: relative;
    top: -65px;
}

.close-overlay:hover {
    cursor: pointer;
}

.close-overlay-rs {
    width: 30px;
    height: 30px;
    position: relative;
    top: -65px;
    display: none;
}

.close-overlay-rs:hover {
    cursor: pointer;
}

.user-contacts-help-frame {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.overlay-user-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 120px;
    height: 120px;
    background: #D1D1D1;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 70px;
}

.overlay-user-icon-white {
    width: 41px;
    height: 54px;
}

.overlay-contacts-details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
    width: 422px;
    height: 271px;
}

.overlay-contacts-details-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 422px;
    height: 71px;
}

.overlay-input-design {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    outline: none;
}

::placeholder {
    color: #D1D1D1;
    font-family: 'Inter';
    font-size: 21px;
    display: flex;
    position: absolute;
}

.input-icon-user {
    background: url(/assets/img/contacts/user-grey.png) no-repeat;
    background-size: 16px 21px;
    background-position-x: 380px;
    background-position-y: 15px;
}

.input-icon-letter {
    background: url(/assets/img/contacts/letter.png) no-repeat;
    background-size: 20px 18px;
    background-position-x: 380px;
    background-position-y: 15px;
}

.input-icon-phone {
    background: url(/assets/img/contacts/phone.png) no-repeat;
    background-size: 20px;
    background-position-x: 380px;
    background-position-y: 15px;
}

.overlay-btn-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 369px;
    height: 61px;
    margin-right: 53px;
    position: relative;
    top: 30px;
}

.overlay-cancel-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 50px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    box-sizing: border-box;
}

.overlay-cancel-btn:hover {
    border: 2px solid #29ABE2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.overlay-cancel-btn:hover .overlay-cancel-btn-text {
    color: #29ABE2;
}

.overlay-cancel-btn:hover .overlay-cancel-btn-image {
    background-image: url(/assets/img/contacts/cancel-icon-blue.png);
}

.overlay-cancel-btn-image {
    background-image: url(/assets/img/contacts/cancel-icon.png);
    background-size: 28px 28px;
    background-position: center;
    width: 24px;
    height: 24px;
}

.overlay-cancel-btn-text {
    width: 69px;
    height: 25px;
    font-size: 21px;
    color: #2A3647;
}

.overlay-create-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 208px;
    height: 50px;
    background: #2A3647;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
}

.overlay-create-btn:hover {
    cursor: pointer;
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overlay-create-btn-text {
    width: 154px;
    height: 25px;
    font-weight: 500;
    font-size: 21px;
    color: #FFFFFF;
}

.d-none {
    display: none;
}

.overlay-save-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    width: 150px;
    height: 50px;
    background: #2A3647;
    border-radius: 10px;
    box-sizing: border-box;
}

.overlay-save-btn:hover {
    cursor: pointer;
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overlay-save-btn-text {
    font-weight: 500;
    font-size: 21px;
    color: #FFFFFF;
}

.overlay-user-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: #29ABE2;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 70px;
    color: #FFFFFF;
    font-size: 35px;
    margin-top: -11%;
}

.overlay-save-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-right: 53px;
    position: relative;
    top: 30px;
    border: none;
    background-color: #FFFFFF;
}

.red-text {
    display: flex;
    justify-content: center;
    text-align: center;
    color: red;
    width: 100%;
}


@media(max-width: 1160px) {
    .overlay-add-contact-container {
        height: 450px;
        width: 800px;
    }

    .overlay-left-part {
        height: inherit;
        width: 300px;
        padding: 65px 20px;
    }

    .overlay-headline {
        width: inherit;
        font-size: 40px;
        height: auto;
    }

    .overlay-join-logo {
        width: 50px;
        height: 60px;
    }

    .overlay-right-part {
        padding: 10px;
    }

    .overlay-user-initials {
        width: 90px;
        height: 90px;
        font-size: 30px;
        margin-top: -13%;
    }

    .close-overlay {
        top: -40px;
        right: 15px;
    }

    .overlay-contacts-details-container {
        width: 370px;
        height: 250px;
        gap: 25px;
        justify-content: center;
    }

    .overlay-input-design {
        width: 350px;
        padding: 10px 10px;
    }

    .input-icon-user {
        background-position-x: 315px;
    }

    .input-icon-phone {
        background-position-x: 315px;
    }

    .input-icon-letter {
        background-position-x: 315px;
    }

    .overlay-slogan {
        font-size: 20px;
    }

    .overlay-user-icon-container {
        width: 90px;
        height: 90px;
    }

    .overlay-btn-frame {
        margin-right: -35px;
        width: 100%;
    }

    .overlay-save-frame {
        width: 85%;
    }
}


@media(max-width: 850px) {
    .overlay-add-contact-container {
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 90%;
    }

    .overlay-left-part {
        height: 40%;
    }

    .overlay-right-part {
        height: 60%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 30px;
    }

    .overlay-join-logo {
        display: none;
    }

    .overlay-slogan {
        width: 275px
    }

    .user-contacts-help-frame {
        flex-direction: column;
    }

    .overlay-user-icon-container {
        position: absolute;
        top: 34%;
    }

    .close-overlay {
        display: none;
    }

    .close-overlay-rs {
        display: block;
        position: absolute;
        top: 55px;
        padding-right: 5px;
    }

    .overlay-cancel-btn {
        display: none;
    }

    .overlay-contacts-details-frame {
        align-items: center;
        width: auto;
    }

    .overlay-contacts-details-container {
        width: inherit;
        height: 200px;
    }

    .overlay-btn-frame {
        margin-right: 0;
    }

    .overlay-headline {
        width: 250px;
    }

    .overlay-save-frame {
        width: 100%;
    }
}


@media(max-width: 400px) {
    .overlay-left-part {
        width: 270px;
        padding-right: 0;
        padding-left: 10px;
    }

    .overlay-input-design {
        width: 240px;
    }

    .input-icon-letter {
        background-position-x: 215px;
    }

    .input-icon-phone {
        background-position-x: 215px;
    }

    .input-icon-user {
        background-position-x: 215px;
    }

    .overlay-contacts-details-frame {
        gap: 0;
    }

    .overlay-slogan {
        font-size: 18px;
        width: 260px;
    }

    .overlay-user-icon-container {
        height: 80px;
        width: 80px;
    }

    .overlay-user-icon-white {
        width: 30px;
        height: auto;
    }
}