@media(max-height: 725px) {
    .set-login-window {
        top: unset;
        margin-bottom: 2%;
        height: 89vh;
        overflow: hidden;
    }

    @keyframes logoSize {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(0.1);
            left: 6.5vw;
            top: 0.5vw;
            z-index: 1;
        }
    }

    @media(max-width: 2500px) {
        .login-input-image {
            position: relative;
            top: -37px;
            left: 94%;
        }
    }

    @media(max-width: 1820px) {
        .login-input-image {
            position: relative;
            top: -37px;
            left: 94%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 5.5vw;
                top: 0.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1600px) {
        .login-input-image {
            left: 93.5%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 5.0vw;
                top: 1.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1200px) {
        .login-input-image {
            left: 93%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 2.5vw;
                top: 2.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1050px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 1.0vw;
                top: 2.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 950px) {
        .login-input-image {
            left: 92%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 0vw;
                top: 3.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 725px) {
        .login-input-image {
            left: 91%;
        }
    }

    .login-bg {
        height: fit-content;
    }

    .forgot-password-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .forgot-password-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 15px;
        height: fit-content;
        width: 80%;
    }

    .forgot-password-window span {
        width: 97%;
        font-size: 18px;
    }

    .forgot-password-button {
        margin-bottom: 25px;
        font-size: 18px;
    }

    .reset-password-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .reset-password-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 15px;
        height: fit-content;
        width: 80%;
    }

    .reset-password-window span {
        width: 97%;
        font-size: 18px;
    }

    .new-password-input-image {
        right: 10%;
        top: 165px;
    }

    .confirm-password-input-image {
        right: 10%;
        top: 250px;
    }

    .login-window-input-passwort {
        font-size: 18px;
    }

    .user-sign-up {
        position: fixed;
        top: unset;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 21px;
        height: unset;
        margin-bottom: 2%;
    }

    .user-sign-up a {
        font-size: 18px;
        display: flex;
        align-items: center;
        height: 0;
    }

    .login-window {
        padding: 20px;
        width: 80%;
        gap: 20px;
    }

    .login-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 0;
        height: 55px;
        width: 80%;
    }

    .login-window-input-email {
        width: 75vw;
        font-size: 18px;
    }

    .set-login-window-input-passwort {
        height: 51px;
    }

    .login-window-input-passwort {
        width: 75vw;
        font-size: 18px;
    }

    .remember-me-forgot-my-passwort {
        align-items: flex-start;
        flex-direction: column-reverse;
        gap: 25px;
    }

    .login-guestlogin {
        right: 0;
    }

    .login-button {
        width: 170px;
    }

    .guestlogin-button {
        position: unset;
        right: 0;
        bottom: 0;
        margin-bottom: unset;
    }

    .login-window form {
        gap: 25px;
    }

    .forgot-password-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .forgot-password-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 15px;
        height: fit-content;
        width: 80%;
    }

    .forgot-password-window span {
        width: 97%;
        font-size: 18px;
    }

    .forgot-password-button {
        margin-bottom: 25px;
        font-size: 18px;
    }

    .reset-password-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .reset-password-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 15px;
        height: fit-content;
        width: 80%;
    }

    .reset-password-window span {
        width: 97%;
        font-size: 18px;
    }

    .login-window-input-username {
        width: 75vw;
        font-size: 18px;
    }

    .signup-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .signup-input-image {
        right: 10.1%;
        top: 289px;
    }
}