@media(max-height: 915px) {
    .set-login-window {
        top: unset;
        margin-bottom: 15%;
        height: 50vh;
    }

    @media (max-width: 2500px) {
        .set-login-window {
            top: unset;
            margin-bottom: 15%;
            height: 40vh;
        }
    }

    @media (max-width: 1250px) {
        .set-login-window {
            top: unset;
            margin-bottom: 15%;
            height: 45vh;
        }
    }

    @media (max-width: 1000px) {
        .set-login-window {
            top: unset;
            margin-bottom: 15%;
            height: 50vh;
        }
    }

    @media (max-width: 850px) {
        .set-login-window {
            top: unset;
            margin-bottom: 15%;
            height: 70vh;
        }
    }
}


@media(max-height: 850px) {
    .set-login-window {
        top: unset;
        margin-bottom: 10%;
        height: 40vh;
    }

    @media (max-width: 1550px) {
        .set-login-window {
            margin-bottom: 15%;
            height: 30vh;
        }
    }

    @media (max-width: 1250px) {
        .set-login-window {
            margin-bottom: 15%;
            height: 40vh;
        }
    }

    @media (max-width: 1000px) {
        .set-login-window {
            margin-bottom: 15%;
            height: 45vh;
        }
    }

    @media (max-width: 850px) {
        .set-login-window {
            margin-bottom: 15%;
            height: 70vh;
        }
    }
}

@media(max-height: 800px) {
    .set-login-window {
        top: unset;
        margin-bottom: 5%;
        height: 75vh;
    }

    @media (max-width: 1550px) {
        .set-login-window {
            height: 30vh;
            margin-bottom: 15%;
        }
    }

    @media (max-width: 1250px) {
        .set-login-window {
            height: 35vh;
        }
    }

    @media (max-width: 1000px) {
        .set-login-window {
            height: 40vh;
        }
    }

    @media (max-width: 850px) {
        .set-login-window {
            height: 65vh;
        }
    }

    @media (max-width: 450px) {
        .set-login-window {
            height: 75vh;
        }
    }

    @media (max-width: 380px) {
        .set-login-window {
            height: 85vh;
        }
    }
}

@media(max-height: 750px) {

    .set-login-window {
        top: unset;
        margin-bottom: 2%;
        height: 85vh;
    }

    @media (max-width: 1550px) {
        .set-login-window {
            top: unset;
            margin-bottom: 15%;
            height: 30vh;
        }
    }

    @media (max-width: 1250px) {
        .set-login-window {
            height: 32vh;
        }
    }

    @media (max-width: 1250px) {
        .set-login-window {
            height: 32vh;
        }
    }

    @media (max-width: 1125px) {
        .set-login-window {
            height: 31.5vh;
        }
    }

    @media (max-width: 1000px) {
        .set-login-window {
            height: 35vh;
        }
    }

    @media (max-width: 950px) {
        .set-login-window {
            height: 37vh;
        }
    }

    @media (max-width: 900px) {
        .set-login-window {
            height: 40vh;
        }
    }

    @media (max-width: 850px) {
        .set-login-window {
            height: 65vh;
        }
    }

    @media (max-width: 450px) {
        .set-login-window {
            height: 75vh;
        }
    }

    @media (max-width: 380px) {
        .set-login-window {
            height: 85vh;
        }
    }

}


@media(max-height: 725px) {
    .set-login-window {
        top: unset;
        margin-bottom: 2%;
        height: 89vh;
        overflow: hidden;
    }

    @keyframes logoSize {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(0.1);
            left: 6.5vw;
            top: 0.5vw;
            z-index: 1;
        }
    }

    @media(max-width: 2500px) {
        .login-input-image {
            position: relative;
            top: -37px;
            left: 94%;
        }
    }

    @media(max-width: 1820px) {
        .login-input-image {
            position: relative;
            top: -37px;
            left: 94%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 5.5vw;
                top: 0.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1600px) {
        .login-input-image {
            left: 93.5%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 5.0vw;
                top: 1.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1200px) {
        .login-input-image {
            left: 93%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 2.5vw;
                top: 2.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1050px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 1.0vw;
                top: 2.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 950px) {
        .login-input-image {
            left: 92%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 0vw;
                top: 3.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 725px) {
        .login-input-image {
            left: 91%;
        }
    }

    .login-bg {
        height: fit-content;
    }

    .forgot-password-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .forgot-password-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 15px;
        height: fit-content;
        width: 80%;
    }

    .forgot-password-window span {
        width: 97%;
        font-size: 18px;
    }

    .forgot-password-button {
        margin-bottom: 25px;
        font-size: 18px;
    }

    .reset-password-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .reset-password-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 15px;
        height: fit-content;
        width: 80%;
    }

    .reset-password-window span {
        width: 97%;
        font-size: 18px;
    }

    .new-password-input-image {
        right: 10%;
        top: 165px;
    }

    .confirm-password-input-image {
        right: 10%;
        top: 250px;
    }

    .login-window-input-passwort {
        font-size: 18px;
    }

    .user-sign-up {
        position: fixed;
        top: unset;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 21px;
        height: unset;
        margin-bottom: 2%;
    }

    .user-sign-up a {
        font-size: 18px;
        display: flex;
        align-items: center;
        height: 0;
    }

    .login-window {
        padding: 20px;
        width: 80%;
        gap: 20px;
    }

    .login-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 0;
        height: 55px;
        width: 80%;
    }

    .login-window-input-email {
        width: 75vw;
        font-size: 18px;
    }

    .set-login-window-input-passwort {
        height: 51px;
    }

    .login-window-input-passwort {
        width: 75vw;
        font-size: 18px;
    }

    .remember-me-forgot-my-passwort {
        align-items: flex-start;
        flex-direction: column-reverse;
        gap: 25px;
    }

    .login-guestlogin {
        right: 0;
    }

    .login-button {
        width: 170px;
    }

    .guestlogin-button {
        position: unset;
        right: 0;
        bottom: 0;
        margin-bottom: unset;
    }

    .login-window form {
        gap: 25px;
    }

    .forgot-password-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .forgot-password-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 15px;
        height: fit-content;
        width: 80%;
    }

    .forgot-password-window span {
        width: 97%;
        font-size: 18px;
    }

    .forgot-password-button {
        margin-bottom: 25px;
        font-size: 18px;
    }

    .reset-password-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .reset-password-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 15px;
        height: fit-content;
        width: 80%;
    }

    .reset-password-window span {
        width: 97%;
        font-size: 18px;
    }

    .login-window-input-username {
        width: 75vw;
        font-size: 18px;
    }

    .signup-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .signup-input-image {
        right: 10.1%;
        top: 289px;
    }
}


@media(max-height: 685px) {

    .user-sign-up a {
        display: none;
    }

    .user-sign-up {
        bottom: 12%;
        right: unset;
        left: 81%;
    }

    @media(max-width: 2500px) {
        .user-sign-up {
            left: 82%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 7.0vw;
                top: -1.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1720px) {
        .user-sign-up {
            left: 81%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -1.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1520px) {
        .user-sign-up {
            left: 80%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 5.0vw;
                top: -1.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1320px) {
        .user-sign-up {
            left: 79%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 4.0vw;
                top: -1.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1120px) {
        .user-sign-up {
            left: 78%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 1.0vw;
                top: -1.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 920px) {
        .user-sign-up {
            left: 77%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 0vw;
                top: -1.0vw;
                z-index: 1;
            }
        }
    }
}

@media(max-height: 666px) {
    .user-sign-up {
        bottom: 15%;
    }

    .set-login-window {
        height: 100%;
    }

    @media(max-width: 2500px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -3.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1720px) {
        .user-sign-up {
            left: 81%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -4.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1520px) {
        .user-sign-up {
            left: 80%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 5.0vw;
                top: -4.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1320px) {
        .user-sign-up {
            left: 79%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 4.0vw;
                top: -4.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1120px) {
        .user-sign-up {
            left: 78%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 1.0vw;
                top: -4.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 920px) {
        .user-sign-up {
            left: 77%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 0vw;
                top: -5.0vw;
                z-index: 1;
            }
        }
    }


    @media(max-width: 850px) {
        .remember-me-forgot-my-passwort {
            flex-direction: unset !important;
        }

        .guestlogin-button {
            position: absolute !important;
            right: 30% !important;
            bottom: 40px !important;
            margin-bottom: unset !important;
        }

        .login-window form {
            gap: 20px !important;
        }

        .user-sign-up a {
            display: none !important;
        }

        .user-sign-up {
            margin-bottom: 0 !important;
            bottom: 15.5% !important;
            right: -60% !important;
        }

        .login-guestlogin {
            right: 155px !important;
        }

        .login-input-image {
            top: -33px !important;
        }

        .signup-window {
            gap: 20px !important;
            top: 0 !important;
        }

        .login-headline {
            height: 50px !important;
        }

        .signup-window form {
            gap: 15px !important;
        }

        .signup-input-image {
            top: 213px !important;
        }

        .login-window-input-username {
            height: 41px !important;
        }

        .forgot-password-window {
            gap: 20px !important;
            top: 0 !important;
        }

        .forgot-password-window form {
            gap: 15px !important;
        }

        .forgot-password-button {
            margin-bottom: 0px !important;
        }

        .reset-password-window {
            gap: 20px !important;
            top: 0 !important;
        }

        .reset-password-window form {
            gap: 15px !important;
        }

        .new-password-input-image {
            top: 150px !important;
        }

        .confirm-password-input-image {
            top: 205px !important;
        }

        @media(max-height: 680px) {
            .user-sign-up {
                bottom: 31% !important;
            }
        }

        @media(max-height: 660px) {
            .user-sign-up {
                bottom: 30.5% !important;
            }
        }

        @media(max-height: 640px) {
            .user-sign-up {
                bottom: 30% !important;
            }
        }

        @media(max-height: 620px) {
            .user-sign-up {
                bottom: 29.5% !important;
            }
        }

        @media(max-height: 600px) {
            .user-sign-up {
                bottom: 28.5% !important;
            }
        }

        @media(max-height: 580px) {
            .user-sign-up {
                bottom: 28% !important;
            }
        }

        @media(max-height: 560px) {
            .user-sign-up {
                bottom: 27.25% !important;
            }
        }

        @media(max-height: 540px) {
            .user-sign-up {
                bottom: 26% !important;
            }
        }

        @media(max-height: 520px) {
            .user-sign-up {
                bottom: 25% !important;
            }
        }

        @media(max-height: 500px) {
            .user-sign-up {
                bottom: 24% !important;
            }
        }

        @media(max-height: 480px) {
            .user-sign-up {
                bottom: 23% !important;
            }
        }

        @media(max-height: 460px) {
            .user-sign-up {
                bottom: 22% !important;
            }
        }

        @media(max-height: 440px) {
            .user-sign-up {
                bottom: 20% !important;
            }
        }

        @media(max-height: 420px) {
            .user-sign-up {
                bottom: 18.5% !important;
            }
        }

        @media(max-height: 410px) {
            .user-sign-up {
                bottom: 18% !important;
            }
        }

        @media(max-height: 400px) {
            .user-sign-up {
                bottom: 17.5% !important;
            }
        }
    }
}

@media(max-height: 645px) {
    @media(max-width: 2500px) {
        .user-sign-up {
            bottom: 14.5%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -1.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1720px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -4.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1520px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 5.0vw;
                top: -4.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1320px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 4.0vw;
                top: -4.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1120px) {
        .user-sign-up {
            left: 78%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 1.0vw;
                top: -4.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 920px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 0vw;
                top: -5.0vw;
                z-index: 1;
            }
        }
    }
}

@media(max-height: 625px) {
    @media(max-width: 2500px) {
        .user-sign-up {
            bottom: 14%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -4.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1720px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -5.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1520px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 5.0vw;
                top: -5.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1320px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 4.0vw;
                top: -5.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1120px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 2.0vw;
                top: -6.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1020px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 1.0vw;
                top: -6.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 920px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 0vw;
                top: -7.0vw;
                z-index: 1;
            }
        }
    }
}

@media(max-height: 600px) {
    @media(max-width: 2500px) {
        .user-sign-up {
            bottom: 12%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -5.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1720px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -6.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1520px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 5.0vw;
                top: -6.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1320px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 4.0vw;
                top: -6.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1120px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 2.0vw;
                top: -7.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1020px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 1.0vw;
                top: -7.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 920px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 0vw;
                top: -8.0vw;
                z-index: 1;
            }
        }
    }
}

@media(max-height: 575px) {
    @media(max-width: 2500px) {
        .user-sign-up {
            bottom: 11%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -6.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1720px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -7.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1520px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 5.0vw;
                top: -7.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1320px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 4.0vw;
                top: -7.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1120px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 2.0vw;
                top: -8.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1020px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 1.0vw;
                top: -8.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 920px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 0vw;
                top: -9.0vw;
                z-index: 1;
            }
        }
    }
}

@media(max-height: 550px) {
    .user-sign-up {
        bottom: 9%;
    }
}

@media(max-height: 525px) {
    .user-sign-up {
        bottom: 8%;
    }
}

@media(max-height: 500px) {
    .user-sign-up {
        bottom: 4.5%;
    }

    .remember-me-forgot-my-passwort {
        flex-direction: unset;
    }
}

@media(max-height: 500px) {
    .user-sign-up {
        bottom: 10%;
    }
}

@media(max-height: 475px) {
    .user-sign-up {
        bottom: 8%;
    }
}

@media(max-height: 460px) {
    .user-sign-up {
        bottom: 16%;
    }

    .login-guestlogin {
        right: 100px;
    }

    .guestlogin-button {
        position: absolute;
        right: 37%;
        bottom: 40px;
    }

    @media(max-width: 1600px) {
        .guestlogin-button {
            right: 36%;
        }
    }

    @media(max-width: 1500px) {
        .guestlogin-button {
            right: 35%;
        }
    }

    @media(max-width: 1400px) {
        .guestlogin-button {
            right: 34%;
        }
    }

    @media(max-width: 1300px) {
        .guestlogin-button {
            right: 33%;
        }
    }

    @media(max-width: 1200px) {
        .guestlogin-button {
            right: 32%;
        }
    }

    @media(max-width: 1100px) {
        .guestlogin-button {
            right: 30%;
        }
    }

    @media(max-width: 1000px) {
        .guestlogin-button {
            right: 28%;
        }
    }

    @media(max-width: 900px) {
        .guestlogin-button {
            right: 26%;
        }
    }

    @media(max-width: 800px) {
        .guestlogin-button {
            right: 25%;
        }
    }

    @media(max-width: 700px) {
        .guestlogin-button {
            right: 22.5%;
        }
    }

    @media(max-width: 600px) {
        .guestlogin-button {
            right: 20%;
        }
    }

    @media(max-width: 500px) {
        .guestlogin-button {
            right: 16%;
        }
    }
}

@media(max-height: 440px) {
    .user-sign-up {
        bottom: 14.5%;
    }

    .set-login-window {
        margin-bottom: 1.5%;
    }

    .login-window form {
        gap: 20px;
    }
}



@media(max-height: 420px) {
    .user-sign-up {
        bottom: 12.5%;
    }

    .set-login-window {
        margin-bottom: 1%;
    }

    .login-button {
        height: 41px;
    }

    .guestlogin-button {
        height: 41px;
    }

    .user-sign-up button {
        height: 41px;
    }
}

@media(max-height: 410px) {
    .set-login-window {
        margin-bottom: 0;
        bottom: unset;
    }

    .login-window-input-email {
        height: 41px;
    }

    .login-window-input-passwort {
        height: 41px;
    }

    .login-input-image {
        top: -32px;
    }

    .login-headline {
        height: 50px;
    }

    .user-sign-up {
        bottom: 17%;
        margin-bottom: unset;
    }

    @media(max-width: 2500px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -5.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1720px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -6.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1520px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 5.0vw;
                top: -6.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1320px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 4.0vw;
                top: -8.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1120px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 2.0vw;
                top: -10.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1020px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 1.0vw;
                top: -10.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 920px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 0vw;
                top: -12.0vw;
                z-index: 1;
            }
        }
    }
}

@media(max-height: 400px) {
    .user-sign-up {
        bottom: 15%;
    }

    .set-login-window {
        height: 100%;
    }

    @media(max-width: 850px) {
        .remember-me-forgot-my-passwort {
            flex-direction: unset !important;
        }

        .guestlogin-button {
            position: absolute !important;
            right: 30% !important;
            bottom: 40px !important;
            margin-bottom: unset !important;
        }

        .login-window form {
            gap: 20px !important;
        }

        .user-sign-up a {
            display: none !important;
        }

        .user-sign-up {
            margin-bottom: 0 !important;
            bottom: 15.5% !important;
            right: -60% !important;
        }

        .login-guestlogin {
            right: 155px !important;
        }

        .login-input-image {
            top: -33px !important;
        }

        .signup-window {
            gap: 20px !important;
            top: 0 !important;
        }

        .login-headline {
            height: 50px !important;
        }

        .signup-window form {
            gap: 15px !important;
        }

        .signup-input-image {
            top: 213px !important;
        }

        .login-window-input-username {
            height: 41px !important;
        }

        .forgot-password-window {
            gap: 20px !important;
            top: 0 !important;
        }

        .forgot-password-window form {
            gap: 15px !important;
        }

        .forgot-password-button {
            margin-bottom: 0px !important;
        }

        .reset-password-window {
            gap: 20px !important;
            top: 0 !important;
        }

        .reset-password-window form {
            gap: 15px !important;
        }

        .new-password-input-image {
            top: 150px !important;
        }

        .confirm-password-input-image {
            top: 205px !important;
        }

    }
}

@media(max-height: 380px) {

    .user-sign-up {
        bottom: 13.7%;
    }

    @media(max-width: 850px) {
        .user-sign-up {
            bottom: 14.7% !important;
        }
    }
}


@media(max-height: 365px) {
    .user-sign-up {
        bottom: 12%;
    }

    @media(max-width: 850px) {
        .user-sign-up {
            bottom: 13% !important;
        }
    }
}

/* ************************************ WIDTH ****************************** */

@media(max-width: 850px) {

    @media(max-height: 2500px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.2);
                left: -5vw;
                top: -10vw;
            }
        }
    }

    @media(max-height: 700px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.15);
                left: -5vw;
                top: -12vw;
            }
        }
    }

    @media(max-height: 615px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.10);
                left: -3vw;
                top: -1vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 600px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.10);
                left: -3vw;
                top: -2.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 580px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.10);
                left: -3vw;
                top: -4vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 560px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.10);
                left: -3vw;
                top: -5vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 540px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.10);
                left: -3vw;
                top: -6vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 520px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.10);
                left: -3vw;
                top: -7vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 500px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.10);
                left: -3vw;
                top: -9vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 480px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.10);
                left: -3vw;
                top: -11vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 400px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.10);
                left: -3vw;
                top: -12vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 365px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.10);
                left: -3vw;
                top: -14vw;
                z-index: 1;
            }
        }
    }

    .login-bg {
        height: fit-content;
    }

    .set-login-window {
        overflow: hidden;
    }

    .forgot-password-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .forgot-password-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 15px;
        height: fit-content;
        width: 80%;
    }

    .forgot-password-window span {
        width: 97%;
        font-size: 18px;
    }

    .forgot-password-button {
        margin-bottom: 25px;
        font-size: 18px;
    }

    .reset-password-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .reset-password-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 15px;
        height: fit-content;
        width: 80%;
    }

    .reset-password-window span {
        width: 97%;
        font-size: 18px;
    }

    .new-password-input-image {
        right: 10%;
        top: 165px;
    }

    .confirm-password-input-image {
        right: 10%;
        top: 250px;
    }

    .login-window-input-passwort {
        font-size: 18px;
    }

    .remember-me-forgot-my-passwort {
        align-items: flex-start;
        flex-direction: column-reverse;
        gap: 25px;
    }

    .user-sign-up {
        position: fixed;
        top: unset;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 21px;
        height: unset;
        margin-bottom: 2%;
    }

    .user-sign-up a {
        font-size: 18px;
        display: flex;
        align-items: center;
        height: 0;
    }

    .login-window {
        padding: 20px;
        width: 80%;
        gap: 20px;
    }

    .login-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 0;
        height: 55px;
        width: 80%;
    }

    .login-window-input-email {
        width: 75vw;
        font-size: 18px;
    }

    .set-login-window-input-passwort {
        height: 51px;
    }

    .login-window-input-passwort {
        width: 75vw;
        font-size: 18px;
    }

    .login-input-image {
        position: relative;
        top: -37px;
        left: 92%;
    }

    .login-guestlogin {
        right: 0;
    }

    .login-button {
        width: 170px;
    }

    .guestlogin-button {
        position: unset;
        right: 0;
        bottom: 0;
        margin-bottom: unset;
    }

    .login-window form {
        gap: 25px;
    }

    .forgot-password-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .forgot-password-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 15px;
        height: fit-content;
        width: 80%;
    }

    .forgot-password-window span {
        width: 97%;
        font-size: 18px;
    }

    .forgot-password-button {
        margin-bottom: 25px;
        font-size: 18px;
    }

    .reset-password-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .reset-password-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 15px;
        height: fit-content;
        width: 80%;
    }

    .reset-password-window span {
        width: 97%;
        font-size: 18px;
    }

    .login-window-input-username {
        width: 75vw;
        font-size: 18px;
    }

    .signup-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .signup-input-image {
        right: 10.1%;
        top: 289px;
    }
}

@media(max-width: 750px) {

    @media(max-height: 2500px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.2);
                left: -5vw;
                top: -15vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 650px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -4vw;
                top: 0vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 620px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -4vw;
                top: -3vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 590px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -4vw;
                top: -4vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 560px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -4vw;
                top: -6vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 530px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -4vw;
                top: -8vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 500px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -4vw;
                top: -10vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 480px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -4vw;
                top: -11.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 460px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -4vw;
                top: -13vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 410px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -4vw;
                top: -14.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 380px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -4vw;
                top: -16vw;
                z-index: 1;
            }
        }
    }
}


@media(max-width: 700px) {

    @media(max-height: 2500px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.2);
                left: -5vw;
                top: -15vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 650px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -5vw;
                top: 0vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 620px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -5vw;
                top: -3vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 590px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -5vw;
                top: -4vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 560px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -5vw;
                top: -6vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 530px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -5vw;
                top: -8vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 500px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -5vw;
                top: -10vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 480px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -5vw;
                top: -11.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 460px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -5vw;
                top: -13vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 410px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -5vw;
                top: -14.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-height: 380px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: -5vw;
                top: -16vw;
                z-index: 1;
            }
        }
    }
}


@media(max-width: 650px) {

    .login-input-image {
        position: relative;
        top: -37px;
        left: 91%;
    }

    .new-password-input-image {
        right: 11%;
    }

    .confirm-password-input-image {
        right: 11%;
    }

    .signup-input-image {
        right: 11%;
    }

}


@media(max-width: 561px) {

    .login-input-image {
        position: relative;
        top: -37px;
        left: 90%;
    }

    .new-password-input-image {
        right: 12%;
        top: 208px;
    }

    .confirm-password-input-image {
        right: 12%;
        top: 294px;
    }

    .signup-input-image {
        right: 12%;
    }
}

@media(max-width: 450px) {

    .login-input-image {
        position: relative;
        top: -37px;
        left: 89%;
    }

    .new-password-input-image {
        right: 13%;

    }

    .confirm-password-input-image {
        right: 13%;

    }

    .signup-input-image {
        right: 12.7%;
    }

    .login-window {
        padding: 20px;
        width: 80%;
        gap: 15px;
    }

    .login-window form {
        gap: 15px;
    }
}

@media(max-width: 380px) {

    @keyframes logoSize {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(0.15);
            left: -20vw;
            top: -32.5vw;
        }
    }

    .login-input-image {
        position: relative;
        top: -37px;
        left: 88%;
    }

    .new-password-input-image {
        right: 14%;
        top: 207.5px;
    }

    .confirm-password-input-image {
        right: 14%;
        top: 293.5px;
    }

}

@media(max-width: 353px) {

    @keyframes logoSize {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(0.15);
            left: -20vw;
            top: -32.5vw;
        }
    }

    .login-input-image {
        position: relative;
        top: -37px;
        left: 88%;
    }

    .new-password-input-image {
        right: 14%;
        top: 227.5px;
    }

    .confirm-password-input-image {
        right: 14%;
        top: 314.5px;
    }
}