@media(max-height: 645px) {
    @media(max-width: 2500px) {
        .user-sign-up {
            bottom: 14.5%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -1.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1720px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -4.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1520px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 5.0vw;
                top: -4.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1320px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 4.0vw;
                top: -4.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1120px) {
        .user-sign-up {
            left: 78%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 1.0vw;
                top: -4.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 920px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 0vw;
                top: -5.0vw;
                z-index: 1;
            }
        }
    }
}

@media(max-height: 625px) {
    @media(max-width: 2500px) {
        .user-sign-up {
            bottom: 14%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -4.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1720px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -5.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1520px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 5.0vw;
                top: -5.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1320px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 4.0vw;
                top: -5.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1120px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 2.0vw;
                top: -6.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1020px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 1.0vw;
                top: -6.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 920px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 0vw;
                top: -7.0vw;
                z-index: 1;
            }
        }
    }
}

@media(max-height: 600px) {
    @media(max-width: 2500px) {
        .user-sign-up {
            bottom: 12%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -5.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1720px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -6.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1520px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 5.0vw;
                top: -6.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1320px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 4.0vw;
                top: -6.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1120px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 2.0vw;
                top: -7.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1020px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 1.0vw;
                top: -7.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 920px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 0vw;
                top: -8.0vw;
                z-index: 1;
            }
        }
    }
}