body {
    margin: 0;
    font-family: 'Inter' !important;
}

.d-none {
    display: none !important;
}

.login-bg {
    background-color: #F6F7F8;
    height: 100vh;
    width: 100vw;
    z-index: -2;
}

.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-screen-logo-big {
    position: absolute;
    left: 40.49%;
    right: 40.49%;
    top: 33.69%;
    bottom: 33.68%;
    height: 334.07px;
    width: 274px;
    animation-fill-mode: forwards;
    animation-name: logoSize;
    animation-duration: 2s;
    z-index: 0;
}

.login-screen-start {
    opacity: 0;
    transition: 1.5s ease-in-out;
}

.login-screen-end {
    opacity: 1 !important;
    transition: 1.5s ease-in-out;
}

.user-sign-up {
    display: flex;
    align-items: center;
    position: absolute;
    top: 90px;
    right: 150px;
    gap: 20px;
    z-index: 1;
}

.z-index-0 {
    z-index: 0 !important;
}

.user-sign-up a {
    width: 161px;
    height: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    text-decoration: none;
}

.set-login-window {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.login-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 35px;
    position: relative;
    width: 652px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgb(0 0 0 / 4%);
    border-radius: 30px;
}

.login-window form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    position: relative;
    width: 652px;
    border-radius: 30px;
}

.signup-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 35px;
    position: relative;
    width: 652px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgb(0 0 0 / 4%);
    border-radius: 30px;
    top: 25px;
}

.signup-window form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.forgot-password-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 35px;
    position: relative;
    width: 789px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgb(0 0 0 / 4%);
    border-radius: 30px;
    top: -18px;
}

.reset-password-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 35px;
    position: relative;
    width: 789px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgb(0 0 0 / 4%);
    border-radius: 30px;
    top: 20px;
}

.confirm-password-window {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(60%);
    overflow: auto;
    opacity: 1;
    z-index: 1;
}

.login-headline {
    width: 315px;
    height: 73px;
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    padding-bottom: 24px;
    border-bottom: #29ABE2 2px solid;
}

.forgot-password-headline {
    width: 626px;
    height: 73px;
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    padding-bottom: 24px;
    border-bottom: #29ABE2 2px solid;
}

.reset-password-headline {
    width: 626px;
    height: 73px;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    padding-bottom: 24px;
    border-bottom: #29ABE2 2px solid;
}

.remember-me-clickbox a {
    width: 154px;
    height: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #29ABE2;
}

.remember-me-forgot-my-passwort {
    display: flex;
    align-items: center;
    gap: 30px;
}

.remember-me-forgot-my-passwort a {
    color: #29ABE2;
    text-decoration: none;
}

.login-guestlogin {
    display: flex;
    position: relative;
    gap: 40px;
    right: 100px;
}

.repeat-password {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}

.signup-back {
    position: absolute;
    left: 6.67%;
    top: 8.59%;
    bottom: 17.59%;
    cursor: pointer;
}

.forgot-back {
    position: absolute;
    left: 4%;
    top: 8.59%;
    bottom: 17.59%;
    cursor: pointer;
}

.reset-back {
    position: absolute;
    left: 4%;
    top: 8.59%;
    bottom: 17.59%;
    cursor: pointer;
}

.forgot-password-window span {
    width: 656px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    z-index: 1;
}

.forgot-password-window form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.reset-password-window span {
    width: 656px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-password-window form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.confirm-signup-window {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(60%);
    overflow: auto;
    opacity: 1;
    z-index: 1;
}

.red-font {
    color: red !important;
}