@media(max-height: 685px) {

    .user-sign-up a {
        display: none;
    }

    .user-sign-up {
        bottom: 12%;
        right: unset;
        left: 81%;
    }

    @media(max-width: 2500px) {
        .user-sign-up {
            left: 82%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 7.0vw;
                top: -1.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1720px) {
        .user-sign-up {
            left: 81%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -1.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1520px) {
        .user-sign-up {
            left: 80%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 5.0vw;
                top: -1.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1320px) {
        .user-sign-up {
            left: 79%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 4.0vw;
                top: -1.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1120px) {
        .user-sign-up {
            left: 78%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 1.0vw;
                top: -1.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 920px) {
        .user-sign-up {
            left: 77%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 0vw;
                top: -1.0vw;
                z-index: 1;
            }
        }
    }
}

@media(max-height: 666px) {
    .user-sign-up {
        bottom: 15%;
    }

    .set-login-window {
        height: 100%;
    }

    @media(max-width: 2500px) {

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -3.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1720px) {
        .user-sign-up {
            left: 81%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 6.0vw;
                top: -4.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1520px) {
        .user-sign-up {
            left: 80%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 5.0vw;
                top: -4.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1320px) {
        .user-sign-up {
            left: 79%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 4.0vw;
                top: -4.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 1120px) {
        .user-sign-up {
            left: 78%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 1.0vw;
                top: -4.5vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 920px) {
        .user-sign-up {
            left: 77%;
        }

        @keyframes logoSize {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(0.1);
                left: 0vw;
                top: -5.0vw;
                z-index: 1;
            }
        }
    }

    @media(max-width: 850px) {
        .remember-me-forgot-my-passwort {
            flex-direction: unset !important;
        }

        .guestlogin-button {
            position: absolute !important;
            right: 30% !important;
            bottom: 40px !important;
            margin-bottom: unset !important;
        }

        .login-window form {
            gap: 20px !important;
        }

        .user-sign-up a {
            display: none !important;
        }

        .user-sign-up {
            margin-bottom: 0 !important;
            bottom: 15.5% !important;
            right: -60% !important;
        }

        .login-guestlogin {
            right: 155px !important;
        }

        .login-input-image {
            top: -33px !important;
        }

        .signup-window {
            gap: 20px !important;
            top: 0 !important;
        }

        .login-headline {
            height: 50px !important;
        }

        .signup-window form {
            gap: 15px !important;
        }

        .signup-input-image {
            top: 213px !important;
        }

        .login-window-input-username {
            height: 41px !important;
        }

        .forgot-password-window {
            gap: 20px !important;
            top: 0 !important;
        }

        .forgot-password-window form {
            gap: 15px !important;
        }

        .forgot-password-button {
            margin-bottom: 0px !important;
        }

        .reset-password-window {
            gap: 20px !important;
            top: 0 !important;
        }

        .reset-password-window form {
            gap: 15px !important;
        }

        .new-password-input-image {
            top: 150px !important;
        }

        .confirm-password-input-image {
            top: 205px !important;
        }

        @media(max-height: 680px) {
            .user-sign-up {
                bottom: 31% !important;
            }
        }

        @media(max-height: 660px) {
            .user-sign-up {
                bottom: 30.5% !important;
            }
        }

        @media(max-height: 640px) {
            .user-sign-up {
                bottom: 30% !important;
            }
        }

        @media(max-height: 620px) {
            .user-sign-up {
                bottom: 29.5% !important;
            }
        }

        @media(max-height: 600px) {
            .user-sign-up {
                bottom: 28.5% !important;
            }
        }

        @media(max-height: 580px) {
            .user-sign-up {
                bottom: 28% !important;
            }
        }

        @media(max-height: 560px) {
            .user-sign-up {
                bottom: 27.25% !important;
            }
        }

        @media(max-height: 540px) {
            .user-sign-up {
                bottom: 26% !important;
            }
        }

        @media(max-height: 520px) {
            .user-sign-up {
                bottom: 25% !important;
            }
        }

        @media(max-height: 500px) {
            .user-sign-up {
                bottom: 24% !important;
            }
        }

        @media(max-height: 480px) {
            .user-sign-up {
                bottom: 23% !important;
            }
        }

        @media(max-height: 460px) {
            .user-sign-up {
                bottom: 22% !important;
            }
        }

        @media(max-height: 440px) {
            .user-sign-up {
                bottom: 20% !important;
            }
        }

        @media(max-height: 420px) {
            .user-sign-up {
                bottom: 18.5% !important;
            }
        }

        @media(max-height: 410px) {
            .user-sign-up {
                bottom: 18% !important;
            }
        }

        @media(max-height: 400px) {
            .user-sign-up {
                bottom: 17.5% !important;
            }
        }
    }
}