@media(max-height: 400px) {
    .user-sign-up {
        bottom: 15%;
    }

    .set-login-window {
        height: 100%;
    }

    @media(max-width: 850px) {
        .remember-me-forgot-my-passwort {
            flex-direction: unset !important;
        }

        .guestlogin-button {
            position: absolute !important;
            right: 30% !important;
            bottom: 40px !important;
            margin-bottom: unset !important;
        }

        .login-window form {
            gap: 20px !important;
        }

        .user-sign-up a {
            display: none !important;
        }

        .user-sign-up {
            margin-bottom: 0 !important;
            bottom: 15.5% !important;
            right: -60% !important;
        }

        .login-guestlogin {
            right: 155px !important;
        }

        .login-input-image {
            top: -33px !important;
        }

        .signup-window {
            gap: 20px !important;
            top: 0 !important;
        }

        .login-headline {
            height: 50px !important;
        }

        .signup-window form {
            gap: 15px !important;
        }

        .signup-input-image {
            top: 213px !important;
        }

        .login-window-input-username {
            height: 41px !important;
        }

        .forgot-password-window {
            gap: 20px !important;
            top: 0 !important;
        }

        .forgot-password-window form {
            gap: 15px !important;
        }

        .forgot-password-button {
            margin-bottom: 0px !important;
        }

        .reset-password-window {
            gap: 20px !important;
            top: 0 !important;
        }

        .reset-password-window form {
            gap: 15px !important;
        }

        .new-password-input-image {
            top: 150px !important;
        }

        .confirm-password-input-image {
            top: 205px !important;
        }

    }
}

@media(max-height: 380px) {

    .user-sign-up {
        bottom: 13.7%;
    }

    @media(max-width: 850px) {
        .user-sign-up {
            bottom: 14.7% !important;
        }
    }
}


@media(max-height: 365px) {
    .user-sign-up {
        bottom: 12%;
    }

    @media(max-width: 850px) {
        .user-sign-up {
            bottom: 13% !important;
        }
    }
}

