@media(max-width: 650px) {

    .login-input-image {
        position: relative;
        top: -37px;
        left: 91%;
    }

    .new-password-input-image {
        right: 11%;
    }

    .confirm-password-input-image {
        right: 11%;
    }

    .signup-input-image {
        right: 11%;
    }

}


@media(max-width: 561px) {

    .login-input-image {
        position: relative;
        top: -37px;
        left: 90%;
    }

    .new-password-input-image {
        right: 12%;
        top: 208px;
    }

    .confirm-password-input-image {
        right: 12%;
        top: 294px;
    }

    .signup-input-image {
        right: 12%;
    }
}

@media(max-width: 450px) {

    .login-input-image {
        position: relative;
        top: -37px;
        left: 89%;
    }

    .new-password-input-image {
        right: 13%;

    }

    .confirm-password-input-image {
        right: 13%;

    }

    .signup-input-image {
        right: 12.7%;
    }

    .login-window {
        padding: 20px;
        width: 80%;
        gap: 15px;
    }

    .login-window form {
        gap: 15px;
    }
}

@media(max-width: 380px) {

    @keyframes logoSize {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(0.15);
            left: -20vw;
            top: -32.5vw;
        }
    }

    .login-input-image {
        position: relative;
        top: -37px;
        left: 88%;
    }

    .new-password-input-image {
        right: 14%;
        top: 207.5px;
    }

    .confirm-password-input-image {
        right: 14%;
        top: 293.5px;
    }

}

@media(max-width: 353px) {

    @keyframes logoSize {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(0.15);
            left: -20vw;
            top: -32.5vw;
        }
    }

    .login-input-image {
        position: relative;
        top: -37px;
        left: 88%;
    }

    .new-password-input-image {
        right: 14%;
        top: 227.5px;
    }

    .confirm-password-input-image {
        right: 14%;
        top: 314.5px;
    }
}