@media(max-width: 850px) {

    .login-bg {
        height: fit-content;
    }

    .set-login-window {
        overflow: hidden;
        height: 100vh;
    }


    .forgot-password-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .forgot-password-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 15px;
        height: fit-content;
        width: 80%;
    }

    .forgot-password-window span {
        width: 97%;
        font-size: 18px;
    }

    .forgot-password-button {
        margin-bottom: 25px;
        font-size: 18px;
    }

    .reset-password-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .reset-password-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 15px;
        height: fit-content;
        width: 80%;
    }

    .reset-password-window span {
        width: 97%;
        font-size: 18px;
    }

    .new-password-input-image {
        right: 10%;
        top: 165px;
    }

    .confirm-password-input-image {
        right: 10%;
        top: 250px;
    }

    .login-window-input-passwort {
        font-size: 18px;
    }
}


/* *********************** */

@media(max-width: 750px) {

    @keyframes logoSize {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(0.2);
            left: -20vw;
            top: -20vw;
        }
    }

    .user-sign-up {
        position: fixed;
        top: unset;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 21px;
        height: unset;
        margin-bottom: 2%;
    }

    .user-sign-up a {
        font-size: 18px;
        display: flex;
        align-items: center;
        height: 0;
    }

    .login-window {
        padding: 20px;
        width: 80%;
        gap: 20px;
    }

    .login-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 0;
        height: 55px;
        width: 80%;
    }

    .login-window-input-email {
        width: 75vw;
        font-size: 18px;
    }

    .set-login-window-input-passwort {
        height: 51px;
    }

    .login-window-input-passwort {
        width: 75vw;
        font-size: 18px;
    }

    .login-input-image {
        position: relative;
        top: -37px;
        left: 92%;
    }

    .remember-me-forgot-my-passwort {
        align-items: flex-start;
        flex-direction: column-reverse;
        gap: 25px;
    }

    .login-guestlogin {
        right: 0;
    }

    .login-button {
        width: 170px;
    }

    .guestlogin-button {
        position: unset;
        right: 0;
        bottom: 0;
        margin-bottom: unset;
    }

    .login-window form {
        gap: 25px;
    }

    /* ********************** FORGOT PASSWORD ******************** */
    .forgot-password-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .forgot-password-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 15px;
        height: fit-content;
        width: 80%;
    }

    .forgot-password-window span {
        width: 97%;
        font-size: 18px;
    }

    .forgot-password-button {
        margin-bottom: 25px;
        font-size: 18px;
    }

    /* ********************** RESET PASSWORD ******************** */
    .reset-password-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .reset-password-headline {
        font-size: 35px;
        border-bottom: #29ABE2 2px solid;
        padding-bottom: 15px;
        height: fit-content;
        width: 80%;
    }

    .reset-password-window span {
        width: 97%;
        font-size: 18px;
    }

    .login-window-input-username {
        width: 75vw;
        font-size: 18px;
    }

    .signup-window {
        padding: 20px;
        width: 80%;
        gap: 25px;
    }

    .signup-input-image {
        right: 10.1%;
        top: 289px;
    }
}


/* ********** MAIl SYMBOL LOGIN, AUCH WIE SCHLOSS SYMBOL MACHEN *********** */

@media(max-width: 650px) {

    .login-input-image {
        position: relative;
        top: -37px;
        left: 91%;
    }

    .new-password-input-image {
        right: 11%;
    }

    .confirm-password-input-image {
        right: 11%;
    }

    .signup-input-image {
        right: 11%;
    }
}


@media(max-width: 561px) {

    .login-input-image {
        position: relative;
        top: -37px;
        left: 90%;
    }

    .new-password-input-image {
        right: 12%;
        top: 208px;
    }

    .confirm-password-input-image {
        right: 12%;
        top: 294px;
    }

    .signup-input-image {
        right: 12%;
    }
}

@media(max-width: 450px) {

    .login-input-image {
        position: relative;
        top: -37px;
        left: 89%;
    }

    .new-password-input-image {
        right: 13%;

    }

    .confirm-password-input-image {
        right: 13%;

    }

    .signup-input-image {
        right: 12.7%;
    }

    .login-window {
        padding: 20px;
        width: 80%;
        gap: 15px;
    }

    .login-window form {
        gap: 15px;
    }
}

@media(max-width: 380px) {

    @keyframes logoSize {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(0.15);
            left: -20vw;
            top: -32.5vw;
        }
    }

    .login-input-image {
        position: relative;
        top: -37px;
        left: 88%;
    }

    .new-password-input-image {
        right: 14%;
        top: 207.5px;
    }

    .confirm-password-input-image {
        right: 14%;
        top: 293.5px;
    }

}


@media(max-width: 353px) {

    @keyframes logoSize {
        from {
            transform: scale(1);
        }

        to {
            transform: scale(0.15);
            left: -20vw;
            top: -32.5vw;
        }
    }

    .login-input-image {
        position: relative;
        top: -37px;
        left: 88%;
    }

    .new-password-input-image {
        right: 14%;
        top: 227.5px;
    }

    .confirm-password-input-image {
        right: 14%;
        top: 314.5px;
    }

}