body {
    margin: 0;
    background: #F5F5F5;
    font-family: 'Inter';
}

.privacy-main {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 350px;
    padding-right: 200px;
    overflow: auto;
    height: calc(100vh - 170px);
}

.privacy-back-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 37px;
    height: 37px;
    width: 100%;
}

.privacy-back-btn img {
    height: 25px;
}

.privacy-title-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 371px;
    height: 73px;
}

.privacy-title {
    font-weight: 700;
    font-size: 61px;
}

.privacy-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
}