body {
    margin: 0;
    background: #F5F5F5;
    font-family: 'Inter';
}

.privacy-back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 37px;
    height: 37px;
    left: 1281px;
    top: 165px;
}

.privacy-back-btn img {
    height: 25px;
}

.privacy-title-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    position: absolute;
    width: 371px;
    height: 73px;
    left: 100px;
    top: 171px;
}

.privacy-title {
    font-weight: 700;
    font-size: 61px;
}

.privacy-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 969px;
    left: 100px;
    top: 292px;
    font-size: 20px;
}

.privacy-back-btn-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 37px;
    height: 37px;
    left: 1281px;
    bottom: 40px;
}

.privacy-back-btn-bottom img {
    height: 25px;
}