<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <div class="sidebar-main-frame">
        <img class="sidebar-logo" src="/assets/img/sidebar/join-logo.png">
        <div class="sidebar-menu">
            <a class="sidebar-link" href="/summary.html">
                <div class="sidebar-categories">
                    <div class="sidebar-categories-inner-frame">
                        <img src="/assets/img/sidebar/summary-icon.png">
                        <p>Summary</p>
                    </div>
                </div>
            </a>
            <a class="sidebar-link" href="/board.html">
                <div class="sidebar-categories">
                    <div class="sidebar-categories-inner-frame">
                        <img src="/assets/img/sidebar/board-icon.png">
                        <p>Board</p>
                    </div>
                </div>
            </a>
            <a class="sidebar-link" href="/addTask.html">
                <div class="sidebar-categories">
                    <div class="sidebar-categories-inner-frame">
                        <img src="/assets/img/sidebar/write-task-icon.png">
                        <p>Add Task</p>
                    </div>
                </div>
            </a>
            <a class="sidebar-link" href="/contacts.html">
                <div class="sidebar-categories">
                    <div class="sidebar-categories-inner-frame">
                        <img src="/assets/img/sidebar/contacts-icon.png">
                        <p>Contacts</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="sidebar-footer">
            <a class="sidebar-link" href="/legal-notice.html">
                <div class="sidebar-categories">
                    <div class="sidebar-categories-inner-frame">
                        <img src="/assets/img/sidebar/info-icon.png">
                        <p>Legal notice</p>
                    </div>
                </div>
            </a>
            <a class="sidebar-link" href="/privacy.html">
                <div class="sidebar-categories">
                    <div class="sidebar-categories-inner-frame">
                        <img src="/assets/img/sidebar/info-icon.png">
                        <p>Privacy</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</body>

</html>