<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>

<body>
    <div class="summary-headline-container">
        <div class="summary-headline-left">Summary</div>
        <div class="summary-headline-middle"></div>
        <div class="summary-headline-right">Everything in a nutshell</div>
    </div>

    <div class="summary-greet-container">
        <div class="summary-greet-top">Good morning,</div>
        <div class="summary-greet-bottom" id="my-name">Sofia Müller</div>
    </div>

    <div class="summary-details-container">
        <div class="summary-tasks-container">
            <div class="summary-tasks-btn">
                <div class="summary-tasks-frame">
                    <div class="summary-tasks-amount">1</div>
                    <div class="summary-tasks-text">Tasks in Board</div>
                </div>
            </div>
            <div class="summary-tasks-btn">
                <div class="summary-tasks-frame">
                    <div class="summary-tasks-amount">1</div>
                    <div class="summary-tasks-text">Tasks in Progress</div>
                </div>
            </div>
            <div class="summary-tasks-btn">
                <div class="summary-tasks-frame">
                    <div class="summary-tasks-amount">1</div>
                    <div class="summary-tasks-text">Awaiting Feedback</div>
                </div>
            </div>
        </div>
        <div class="summary-urgency-container">
            <div class="summary-urgency-frame">
                <div class="summary-urgency-image">
                    <img src="/assets/img/summary/arrows-up-icon.png">
                </div>
                <div class="summary-urgency-details">
                    <div class="summary-urgency-class">1</div>
                    <div class="summary-urgency-text">Urgent</div>
                </div>
            </div>
            <div class="summary-urgency-border"></div>
            <div class="summary-urgency-deadline">
                <div class="summary-deadline-top">October 16, 2022</div>
                <div class="summary-deadline-bottom">Upcoming Deadline</div>
            </div>
        </div>
        <div class="summary-to-do-container">
            <div class="summary-to-do-frame">
                <div class="summary-pen-image"></div>
                <div class="summary-to-do-check">
                    <div class="summary-to-do-amount">1</div>
                    <div class="summary-to-do-text">To-do</div>
                </div>
            </div>
            <div class="summary-to-do-frame">
                <div class="summary-done-image"></div>
                <div class="summary-to-do-check">
                    <div class="summary-to-do-amount">1</div>
                    <div class="summary-to-do-text">Done</div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>